body{
    background-color: rgb(0, 0, 0);
    background-image:url(ksr.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    /* text-shadow: 2px 2px 2px white; */
    /* text-decoration-color: bisque; */
    text-align: center;
   
    
    
}

#dept{
width: 240px;
}

   
.regclass{
    /* text-align: center; */
    line-height: 1.5em;
    width: 300px;
    border-radius: 800px 100px;
    border-style:solid;
    margin:auto;
    padding: 10px 50px 80px;
    background-color: rgba(34, 33, 33, 0.7);
    font-family: 'Times New Roman', Times, serif;
    margin-bottom: 100px;
    
    
    
}
img{
margin-left: 20px;
text-align: center;
}
#ind{
    background-color: rgb(0, 0, 0);
}
.regclass{
    color: rgb(255, 255, 255)
    
}
.input input{
    width:95%;
    font-size: 1.0em;
    border:1px solid gray;
    box-shadow: 2px;
    border-radius: 5px;
    padding:5px 10px;
    box-sizing: border-box;
    margin: 10px 0px 15px;
}
.regclass h1{
    color: antiquewhite;
}
input:focus{
    color:rgb(70, 61, 50);
}
button{
    background-color: rgb(255, 255, 255);
}
#text{
    color: #ffffff;
    margin-left: 120px;

}
