body{
    /* background-color: rgb(185, 222, 253); */
    
    background-repeat: no-repeat;
    background-size: cover;
    /* text-shadow: 2px 2px 2px white; */
    text-decoration-color: rgb(5, 5, 5);
    text-align: center;
    color: white;
}

    #ind{
        background-color: rgb(0, 0, 0);
    }
